# Spring
SPRING_APPLICATION_NAME=
SPRING_PROFILES_ACTIVE=
SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=
SPRING_FLYWAY_ENABLED=

# AWS
CLOUD_AWS_REGION=
CLOUD_AWS_ENDPOINT_S3=
CLOUD_AWS_ENDPOINT_SQS=
CLOUD_AWS_ACCESS_KEY=
CLOUD_AWS_SECRET_KEY=

# Application
APPLICATION_S3_BUCKET=
APPLICATION_SQS_QUEUE_URL=
APPLICATION_SQS_DLQ_URL=
APPLICATION_SQS_MAX_RETRIES=
