# Copy to envs/.env.local and adjust. Used by docker-compose service "app".

# AWS
CLOUD_AWS_REGION=
CLOUD_AWS_ENDPOINT_S3=
CLOUD_AWS_ENDPOINT_SQS=
CLOUD_AWS_ACCESS_KEY=
CLOUD_AWS_SECRET_KEY=

# Application
APPLICATION_S3_BUCKET=
APPLICATION_SQS_QUEUE_URL=
APP_SQS_RESULT_LISTENER_ENABLED=
APP_SQS_RESULT_LISTENER_QUEUE_URL=
APP_SQS_RESULT_LISTENER_POLL_INTERVAL_SECONDS=
APP_SQS_RESULT_LISTENER_MAX_MESSAGES=
APP_SQS_RESULT_LISTENER_WAIT_TIME_SECONDS=
